/* Set the font and background color for the entire website */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
}

/* Style for the website logo */
.logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: #dc3545;
    /* Red color */
}

/* Style for navigation links */
.nav-link {
    margin-left: 15px;
    transition: color 0.3s;
}

/* Hover effect for navigation links */
.nav-link:hover {
    color: #28a745;
    /* Green color */
}

/* Style for cards */
.card {
    transition: transform 0.3s, box-shadow 0.3s;
}

/* Hover effect for cards */
.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

/* Style for carousel items */
.carousel-item {
    height: 400px;
}

/* Center the content inside carousel items */
.carousel-item div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    transition: background-color 0.3s;
}

/* Hover effect for carousel items */
.carousel-item:hover div {
    background-color: rgba(0, 0, 0, 0.1);
}

/* Style for section headers */
h2 {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
    color: black;
    /* Red color */
}

/* Style for the footer */
footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    color: #6c757d;
}